<div class="row">
  <aside class="col-md-4">
    <section class="micropost">
      <%= render 'shared/micropost_info' %>
    </section>
    <% if logged_in? %>
      <% if @micropost.user.following?(current_user) ||current_user?(@micropost.user) || current_user.following?(@micropost.user) %>    
        <section class="comment">
          <%= render 'shared/comment_form' %>
        </section>  
      <%else%>
        <h4>Follow user to comment</h6>
      <% end %>      
    <% else %>
      <p><%= link_to "Log in", login_path %> to comment </p>
    <% end %>
  </aside>
  <aside class="col-md-8">
    <section class="micropost">
      <h3>Comments</h3>
      <%= render 'shared/comment_feed' %>
    </section>
  </aside>
</div>